@import "@fontsource/salsa";
@import "@fontsource-variable/montserrat";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: "Montserrat", sans-serif;
  --font-headin: g "Salsa", cursive;
}

body {
  font-family: var(--font-body);
}
